html{
	background: url('../img/bg.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    @media (max-width: 959px) {
        @media (max-width: 767px) {
            @media (max-width: 479px) {
            }
        }
    }
}


